*{
    margin:0;
    padding:0;
    font-family: 'Hanken Grotesk', sans-serif;
}
.container{
    height:657px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    width:490px;
    height:370px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 11px 10px 5px 0px rgba(174, 172, 172, 0.75);
-webkit-box-shadow: 11px 10px 5px 0px rgba(174, 172, 172, 0.75);
-moz-box-shadow: 11px 10px 5px 0px rgba(174, 172, 172, 0.75);
}
.blue-box{
    width:50%;
    height:370px;
    border-radius: 20px;
    background-image: linear-gradient(#312CEA,#5339F6,#5D3EFB,#6340FC);
}
.blue--box{
    height: 30px;
    width:170px;
    text-align: center;
    color:white;
}
.blue-container{
    width:200px;
    height:310px;
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 25px;
    padding-left: 20px;
    
}
.circle-div{
    margin-left: 25px;
    border-radius: 50%;
    width:120px;
    height:120px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #442CE0;
}
.text3{
    height:60px;
    margin-left: 6px;
}
.text2{
    margin-left: 6px;
    font-weight: 700;
    font-size: 18px;
}
.text1{
    margin-bottom: 15px;
    margin-left: 6px;
}
.r76{
    font-size: 50px;
}
.whitebox-inside{
    height:340px;
    width:200px;
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.whitebox-inside>p{
    margin-bottom: 20px;
    margin-left: 6px;
    font-size: 20px;
    color:#3B415D;
    font-weight: 700;
}
.whitebox-inside>div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height:40px;
    border-radius: 8px;
}
.reaction{
    background-color: #FFF6F5;
}
.memory{
    background-color: #FFFBF2;
}
.verbal{
    background-color: #F2FBFA;
}
.visual{
    background-color: #F3F3FD;
}
.icon-text{
    display: flex;
    margin-right: 40px;
}
.icon{
    margin-right: 5px;
}
.mem{
    margin-right:5px;
    color:#F0BC51;
}
.reac{
    margin-right: 4px;
    color:#F06D72;
}
.verb{
    margin-right: 16px;
    color:#4DAE96;
}
.visu{
    margin-right: 15px;
    color:#565DD7;
}

button{
    background-color: #303B59;
    color:white;
    border-radius: 20px;
    width:200px;
    height:40px;
    border:none;
    margin-top: 30px;
}
button>p{
    font-size: 17px;
}
.number{
    color:#9CA5AC;
}
.number>span{
    color:#3D4256;
}



